# For IntelliJ
.idea
*.iml

# For Eclipse
.settings/
.classpath
.project

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore local database
*.db*

# Ignore local settings & system files
.vscode/settings.json
.DS_Store
.Trashes
bin/
